{% extends 'blog/base.html' %}
{% block content %}

<style>
    .content-section{
        background-color:#eee6f3;

    }
</style>

    <div class="content-section">
    
        
        <fieldset class="form-group">
            <h1 class="border-bottom mb-4 ">About</h1>
            <p>
                This socail media and travelers community page has been developed and tested by myself, Ali Essam Shaker. 
                I hope you like the page's features and design and please do not hesitate to send me any feedback on my work or any general tips or advice.
                I am a traveling enthusiast and I love to do web applications related to travelling. This webpage is quite clean and easy to interact with, and follows most 
                of the web development conventions. Travelers can post whatever that's on their mind about traveling, can share their experience with others, exchange advice and tips, 
                ,build connections, and most importantly travel with confidence and desire!
                
            </p>
            
        </fieldset>
        
    
    
    </div>
    


{% endblock content %}


